{% extends 'PlatformBundle::content_page_layout.html.twig' %}
{% set title = 'service_providers.title.edit'|trans ~ ": " ~ serviceProvider.companyName %}

{% block content %}
    {{ form_start(form) }}
        {% include 'PlatformBundle:Partial:service_provider_form.html.twig' %}
        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-2 col-md-4">
                    <input
                        type="submit"
                        value="{{ 'btn.save'|trans }}"
                        class="btn btn-success"
                    />
                    <a
                        href="{{
                            path('platform_serviceProvider_list')
                        }}"
                        class="btn btn-default"
                    >
                        {{ 'link.back'|trans }}
                    </a>
                </div>
            </div>
        </div>
    {{ form_end(form) }}
    {{ form_start(delete_form) }}
        <div class="form-group">
            <div class="row">
                <div class="col-md-offset-2 col-md-4">
                    <input
                        type="submit"
                        value="{{ 'btn.delete'|trans }}"
                        class="btn btn-danger pull-left"
                    >
                </div>
            </div>
        </div>
    {{ form_end(delete_form) }}
{% endblock %}
