{% extends 'base.html.twig' %}

{% block body %}
    <h1>District</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ district.id }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{{ district.creationDate }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('district_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('district_edit', { 'id': district.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
