{% if pageCount > 1 %}
    <ul class="pagination">
        {% if previous is defined %}
            <li>
                <a
                    href="{{ path(route, query|merge({(pageParameterName): previous})) }}"
                    class="pagination-navigation"
                    aria-label="Previous"
                >
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li>
                    <a class="pagination-page"
                       data-for-test-name="pagination-page-{{ page }}"
                       href="{{ path(route, query|merge({(pageParameterName): page})) }}"
                    >
                       {{ page }}
                    </a>
                </li>
            {% else %}
                <li class="active"><a>{{ page }} </a></li>
            {% endif %}
        {% endfor %}

        {% if next is defined %}
            <li>
                <a
                    href="{{ path(route, query|merge({(pageParameterName): next})) }}"
                    class="pagination-navigation"
                    aria-label="Next"
                >
                  <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        {% endif %}
        <li id="pagination-jump" class="left">
            <form method="GET" action="">
                <input
                    type="text"
                    id="jump-page"
                    name="page"
                    class="form-control"
                    title="Jump Page"
                />
                <label id="page">
                    {{ 'label.pagination.page'|trans }}
                </label>
                <button
                    id="page-jump-button"
                    type="submit"
                    class="btn btn-default page-jump-button"
                >
                    {{ 'label.pagination.jump'|trans }}
                </button>
            </form>
        </li>
    </ul>
{% endif %}
