{% extends 'CondominiumManagementBundle::content_page_layout.html.twig' %}
{% set title = condominium.name ~ ' - ' ~ 'unit.type.title'|trans %}

{% block content %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="alert alert-danger" role="alert">
                {{ flashMessage }}
            </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a href="{{ path('condominium_unit_type_new', {'condominium': condominium.id}) }}"
                       class="btn btn-success"
                    >
                        {{ 'unit.type.link.add.new.unit.type'|trans }}
                    </a>
                    {% include 'CondoBundle:partials:buttons_export_resource.html.twig'
                        with {'selector' : 'table', 'function_name': title}
                    %}
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">
                        <table class="table table-striped table-bordered table-hover"
                               id="unit_type_table"
                        >
                            <thead>
                            <tr>
                                <th>{{ 'unit.type.th.code'|trans }}</th>
                                <th>{{ 'unit.type.th.unit.size'|trans }}</th>
                                <th>{{ 'unit.type.th.common.area.size'|trans }}</th>
                                <th>{{ 'unit.type.th.total.area.size'|trans }}</th>
                                <th>{{ 'unit.type.th.room'|trans }}</th>
                                <th>{{ 'unit.type.th.bedroom'|trans }}</th>
                                <th>{{ 'unit.type.th.bathroom'|trans }}</th>
                                <th data-field="hide-export">{{ 'unit.type.th.actions'|trans }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for unitType in unitTypes %}
                                <tr>
                                    <td>{{ unitType.code }}</td>
                                    <td>{{ unitType.size }}</td>
                                    <td>{{ unitType.commonAreaSize }}</td>
                                    <td>{{ unitType.totalSize }}</td>
                                    <td>{{ unitType.roomCount }}</td>
                                    <td>{{ unitType.bedroomCount }}</td>
                                    <td>{{ unitType.bathroomCount }}</td>
                                    <td>
                                        <a
                                            href="{{
                                                path(
                                                    'condominium_unit_type_edit',
                                                    {'condominium': condominium.id,
                                                    'unitType': unitType.id}
                                                )
                                            }}"
                                           class="btn btn-sm btn-primary"
                                        >
                                            {{ 'action.edit'|trans }}
                                        </a>
                                        <a
                                            href="{{
                                                path(
                                                    'condominium_unit_type_delete',
                                                    {'condominium': condominium.id,
                                                    'unitType': unitType.id}
                                                )
                                            }}"
                                           class="btn btn-sm btn-danger"
                                        >
                                            {{ 'action.delete'|trans }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-12 -->
    </div>
{% endblock %}

{% block additional_resources %}
    {% include 'CondoBundle:partials:table_export_resource.html.twig' %}
{% endblock %}
