{% extends 'ServiceBundle::content_page_layout.html.twig' %}
{% set title = 'opening_time.availability.title.new'|trans  %}

{% block content %}
    {{ form_start(form) }}
    <div class="form-group">
        <div class="row">
            <label class="col-xs-2 control-label">
                {{ 'opening_time.label.opening.time'|trans }}
            </label>
            <div class="col-xs-2">
                {{form_widget(
                    form.openingTime.hour,
                    {
                        'attr': {
                            'class': 'form-control'
                        }
                    }
                )}}
            </div>
            <div class="col-xs-2">
                {{form_widget(
                    form.openingTime.minute,
                    {
                        'attr': {
                            'class': 'form-control'
                        }
                    }
                )}}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-xs-2 control-label">
                {{ 'opening_time.label.closing.time'|trans }}
            </label>
            <div class="col-xs-2">
                {{form_widget(
                    form.closingTime.hour,
                    {
                        'attr': {
                            'class': 'form-control'
                        }
                    }
                )}}
            </div>
            <div class="col-xs-2">
                {{form_widget(
                    form.closingTime.minute,
                    {
                        'attr': {
                            'class': 'form-control'
                        }
                    }
                )}}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-xs-2 control-label">
                {{ 'opening_time.label.day.of.the.week.start'|trans }}
            </label>
            <div class="col-xs-4">
                {{form_widget(
                    form.dayOfTheWeekStart,
                    {
                        'attr': {
                            'class': 'form-control'
                        }
                    }
                )}}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <label class="col-xs-2 control-label">
                {{ 'opening_time.label.day.of.the.week.end'|trans }}
            </label>
            <div class="col-xs-4">
                {{form_widget(
                    form.dayOfTheWeekEnd,
                    {
                        'attr': {
                            'class': 'form-control'
                        }
                    }
                )}}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <div class="checkbox">
                <label>
                    {{form_widget(form.enabled)}}
                    {{ 'opening_time.label.enabled'|trans }}
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <input
                type="submit"
                value="{{ 'btn.create'|trans }}"
                class="btn btn-success"
            />
            <a
                href="{{
                    path(
                        'service_openingTime_list',
                        {'service': service.id}
                    )
                }}"
                class="btn btn-default"
            >
                {{ 'link.back'|trans }}
            </a>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
