{% extends 'RealtyCompanyBundle::content_page_layout.html.twig' %}
{% set title = company.name ~ ' - ' ~ 'realty_company.label.edit.invoices.to.developer'|trans %}

{% block content %}
    <div class="panel panel-body">
        {{ form_start(edit_form) }}
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-2 control-label">
                        {{ 'developer.payment.label.contact'|trans }}
                    </label>
                    <div class="col-xs-4">
                        {{form_widget(
                            edit_form.contact,
                            {
                                'attr': {
                                    'class': 'form-control'
                                }
                            }
                        )}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-2 control-label">
                        {{ 'developer.payment.label.paymentMethod'|trans }}
                    </label>
                    <div class="col-xs-4">
                        {{form_widget(
                            edit_form.paymentMethod,
                            {
                                'attr': {
                                    'class': 'form-control'
                                }
                            }
                        )}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-2 control-label">
                        {{ 'developer.payment.label.receiver'|trans }}
                    </label>
                    <div class="col-xs-4">
                        {{form_widget(
                            edit_form.receiver,
                            {
                                'attr': {
                                    'class': 'form-control'
                                }
                            }
                        )}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-2 control-label">
                        {{ 'developer.payment.label.amount'|trans }}
                    </label>
                    <div class="col-xs-4">
                        {{form_widget(
                            edit_form.amount,
                            {
                                'attr': {
                                    'class': 'form-control'
                                }
                            }
                        )}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-2 control-label">
                        {{ 'developer.payment.label.status'|trans }}
                    </label>
                    <div class="col-xs-4">
                        {{form_widget(
                            edit_form.status,
                            {
                                'attr': {
                                    'class': 'form-control'
                                }
                            }
                        )}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-2 control-label">
                        {{ 'developer.payment.label.developer'|trans }}
                    </label>
                    <div class="col-xs-4">
                        {{form_widget(
                            edit_form.developer,
                            {
                                'attr': {
                                    'class': 'form-control'
                                }
                            }
                        )}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <label class="col-xs-2 control-label">
                        {{ 'developer.payment.label.description'|trans }}
                    </label>
                    <div class="col-xs-4">
                        {{form_widget(
                            edit_form.description,
                            {
                                'attr': {
                                    'class': 'form-control'
                                }
                            }
                        )}}
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-offset-2 col-xs-10">
                    <div class="checkbox">
                        <label>
                            {{form_widget(edit_form.received)}}
                            {{ 'developer.payment.label.received'|trans }}
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-10">
                        <input
                            type="submit"
                            value="{{ 'btn.save'|trans }}"
                            class="btn btn-success"
                        >
                        <a
                            href="{{ path(
                                'payments_list',
                                {'company': company.id}
                            ) }}"
                            class="btn btn-default"
                        >
                            {{ 'link.back'|trans }}
                        </a>
                    </div>
                </div>
            </div>
        {{ form_end(edit_form) }}
        {{ form_start(delete_form) }}
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-offset-2 col-xs-10">
                        <input
                            type="submit"
                            value="{{ 'btn.delete'|trans }}"
                            class="btn btn-danger pull-left"
                        >
                    </div>
                </div>
            </div>
        {{ form_end(delete_form) }}
    </div>
{% endblock %}
