<div class="navbar-default sidebar" role="navigation" xmlns="http://www.w3.org/1999/html">
    <div class="sidebar-nav">
        <ul class="nav" id="side-menu">
            {% for developer in developers %}
                <li>
                    <a href="#">
                        <i class="fa fa-building fa-fw"></i>
                        <span class="menu-title">{{ developer.name }}</span>
                    </a>
                    <ul class="nav nav-second-level collapse in" aria-expanded="true">
                        <li>
                            <a href="{{ path('developer_developer_edit', { 'developer': developer.id }) }}">
                                <i class="fa fa-pencil fa-fw"></i>
                                <span class="menu-title">{{'action.edit'|trans}}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('developer_projects_list', { 'developer': developer.id }) }}">
                                <i class="fa fa-users fa-fw"></i>
                                <span class="menu-title">{{ 'link.project'|trans }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('developer_managers_show', { 'developer': developer.id }) }}">
                                <i class="fa fa-users fa-fw"></i>
                                <span class="menu-title">{{ 'link.manager'|trans }}</span>
                            </a>
                        </li>
                        <li>
                            <a href="{{ path('developer_payments_list', {'developer': developer.id }) }}">
                                <i class="fa fa-money fa-fw"></i>
                                <span class="menu-title">{{ 'link.invoices'|trans }}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            {% endfor %}
        </ul>
        {% include 'CondoBundle:partials:button_expand_collapse_menu.html.twig' %}
    </div>
    <!-- /.sidebar-collapse -->
</div>
