{% extends 'CondominiumManagementBundle::content_page_layout.html.twig' %}
{% set title = condominium.name ~ ' - ' ~ 'link.reports'|trans ~ ' - ' ~ 'condo.label.unit'|trans %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            {% include 'CondominiumManagementBundle:Report:tabs_head.html.twig'
                with {'active' : 'unit', 'condominium': condominium.id} %}
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <div class="panel panel-default margin-top-20">
                        <div class="panel-heading">
                            {% include 'CondominiumManagementBundle:Report:filter_form.html.twig'
                                with {
                                    'action': path('condominium_report_client', {'condominium': condominium.id})
                                }
                            %}
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-striped table-bordered table-hover">
                                        <thead>
                                            <tr>
                                                <th class="text-center">{{ 'condo.th.report.unit.date'|trans }}</th>
                                                <th>{{ 'condo.th.report.unit.total.room'|trans }}</th>
                                                <th>{{ 'condo.th.report.unit.available'|trans }}</th>
                                                <th>{{ 'condo.th.report.unit.unavailable'|trans }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for key in arrUnits.dates %}
                                                <tr>
                                                    <td class="text-center">{{ key }}</td>
                                                    <td>{{ arrUnits.totalRooms[loop.index0] }}</td>
                                                    <td>{{ arrUnits.availables[loop.index0] }}</td>
                                                    <td>{{ arrUnits.unAvailables[loop.index0] }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <hr />
                            <div class="row">
                                <div class="col-md-12">
                                    <div id="report"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {% javascripts
        "@CondominiumManagementBundle/Resources/public/js/bootstrap-datepicker.js"
        "@CondominiumManagementBundle/Resources/public/js/report-showby-filter.js"
        "@CondominiumManagementBundle/Resources/public/js/highcharts.js"
        "@CondominiumManagementBundle/Resources/public/js/exporting.js"
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        {{ chart(chartReport) }}
    </script>
{% endblock %}
