{% extends 'PlatformBundle::content_page_layout.html.twig' %}
{% set title = 'realty_company.title.show'|trans ~ ' : ' ~ realtyCompany.name %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table table-striped">
                        <tbody>
                            <tr>
                                <th>{{ 'realty_company.th.name'|trans }}:</th>
                                <td>{{ realtyCompany.name }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'realty_company.th.contact.number'|trans }}</th>
                                <td>{{ realtyCompany.contactNumber }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'realty_company.th.description'|trans }}</th>
                                <td>{{ realtyCompany.description }}</td>
                            </tr>
                            <tr>
                                <th>{{ 'realty_company.th.creation.date'|trans }}</th>
                                <td>{{ realtyCompany.creationDate |date }}</td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="form-group">
                                        <div class="col-xs-10">
                                            <div class="btn-block-wrapper">
                                                <a
                                                    href="{{ path(
                                                        'platform_realty_company_edit',
                                                        {'realtyCompany': realtyCompany.id}
                                                    ) }}"
                                                >
                                                    <button class="btn btn-success btn-sm">
                                                        {{ 'action.edit'|trans }}
                                                    </button>
                                                </a>
                                            </div>
                                            <div class="btn-block-wrapper">
                                                <form method="post"
                                                    action="{{ path(
                                                        'platform_realty_company_delete',
                                                        {'realtyCompany': realtyCompany.id}
                                                    ) }}"
                                                    >
                                                    <input type="hidden"
                                                        name="_method"
                                                        value="DELETE"
                                                    >
                                                    <input type="submit"
                                                        class="btn btn-danger btn-sm"
                                                        value="{{ 'action.delete'|trans }}"
                                                    >
                                                </form>
                                            </div>
                                            <a href="{{ path('realty_company_list') }}">
                                                <button class="btn btn-primary btn-sm">
                                                    {{ 'link.back'|trans }}
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h1>{{ 'realty_company.title.panel.managers'|trans }}</h1>
                        <form method="post"
                            action="{{ path('platform_realty_company_managers_new',
                            {'realtyCompany': realtyCompany.id} ) }}"
                        >
                            <input title="{{ 'realty_company.title.input.username'|trans }}"
                                placeholder="{{ 'realty_company.placeholder.username'|trans }}"
                                name="username"
                                type="text"
                            />
                            <input type="submit"
                                class="btn btn-success"
                                value="{{ 'realty_company.btn.add.user'|trans }}"
                            >
                        </form>
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="dataTable_wrapper">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                <tr>
                                    <th>{{ 'realty_company.th.id'|trans }}</th>
                                    <th>{{ 'realty_company.th.name'|trans }}</th>
                                    <th>{{ 'realty_company.th.email'|trans }}</th>
                                    <th>{{ 'realty_company.th.phone.number'|trans }}</th>
                                    <th>{{ 'realty_company.th.actions'|trans }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for manager in realtyCompany.managers %}
                                    <tr>
                                        <td>{{ manager.id }}</td>
                                        <td>{{ manager.name }}</td>
                                        <td>{{ manager.email }}</td>
                                        <td>{{ manager.phoneNumber }}</td>
                                        <td>
                                            <form method="post"
                                                  action="{{ path(
                                                        'platform_realty_company_managers_delete',
                                                        {
                                                            'realtyCompany': realtyCompany.id,
                                                            'manager': manager.id
                                                        }
                                                ) }}"
                                            >
                                                <input type="hidden"
                                                       name="_method"
                                                       value="DELETE"
                                                >
                                                <input type="submit"
                                                       class="btn btn-sm btn-danger"
                                                       value="{{ 'btn.delete'|trans }}"
                                                >
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
{% endblock %}
